<a href="https://colab.research.google.com/github/rreghunandan/Python-Codekata-Problems/blob/main/Codekata_Inpout_Output_%26_Looping_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by comma.
Sample Input :
guvi
Sample Output :
g,u,v,i

In [1]:
n = input()
a = len(n)
for i in n[:a-1]:
    print(i,end = ",")
print(n[a-1])

guvi
g,u,v,i

Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by line.

Sample Input :
guvigeek
Sample Output :
g
u
v
i
g
e
e
k

In [2]:
n = input()
for i in n:
    print(i,end="\n")

geek
g
e
e
k

Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains three float values separated by space.

Output Description:
Print the float value separated by line.

Sample Input :
2.3 4.5 7.8
Sample Output :
2.3
4.5
7.8

In [3]:
n = input()
for i in n.split(" "):
    print(i)

2.3 4.5 7.8
2.3
4.5
7.8

Write a code to get the input in the given format and print the output in the given format

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by space.

Sample Input :
guvi
Sample Output :
g u v i

In [4]:
a = input()
n = len(a)
for i in a[:n-1]:
    print(i,end = " ")
print(a[n-1])

guvi
g u v i

Input Description:
First-line indicates two integers separated by space. Second-line indicates three integers separated by space. Third-line indicates three integers separated by space

Output Description:
Print the input in the same format.

Sample Input :
2 5
2 5 6
2 4 5
Sample Output :
2 5
2 5 6
2 4 5

In [5]:
p = input()
a = input()
g = input()
print(p)
print(a)
print(g)

2 5
2 5 6
2 4 5
2 5
2 5 6
2 4 5

Write a code to get the input in the given format and print the output in the given format

Input Description:
Three integers are given in line by line.

Output Description:
Print the integers in a single line separate by space.

Sample Input :
2
4
5
Sample Output :
2 4 5

In [6]:
n = input()
w = input()
e = input()
print(n+" "+w+" "+e)

2
4
5
2 4 5

Write a code to get the input in the given format and print the output in the given format

Input Description:
First-line indicates two integers separated by space. Second-line indicates two integers separated by space. Third-line indicates two integers separated by space.

Output Description:
Print the input in the same format.

Sample Input :
2 4
2 4
2 4
Sample Output :
2 4
2 4
2 4

Write a code to get the input in the given format and print the output in the given format

Input Description:
To take an integer value

Output Description:
Print the integer value

Sample Input :
2
Sample Output :
2

In [7]:
n = int(input())

print(n)

2
2

### **LOOPING**

Write a code to get an integer N and print the values from N to 1.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from N to 1 in a separate line.

Sample Input :
10
Sample Output :
10
9
8
7
6
5
4
3
2
1

In [8]:
N = int(input())
for i in range(N):
    print(N-i)

10
10
9
8
7
6
5
4
3
2
1

Write a code to get 2 integers A and N. Print the integer A, N times in separate line.

Input Description:
First line contains an integer A. Second line contains an Integer N.

Output Description:
Print the integer A, N times in a separate line.

Sample Input :
2 3
Sample Output :
2
2
2

In [9]:
A,N = map(int,input().split())
for i in range(N):
    print(A)

2 3
2
2
2

Write a code to get an integer N and print the digits of the integer.

Input Description:
A single line contains an integer N.

Output Description:
Print the digits of the integer in a single line separated by space,

Sample Input :
348
Sample Output :
3 4 8

In [10]:
n = input()
b=[]
for i in n:
  b.append(i)
print(*b)

348
3 4 8

Write a code to get 2 integers as input and find the HCF of the 2 integer without using recursion or Euclidean algorithm.

Input Description:
A single line containing 2 integers separated by space.

Output Description:
Print the HCF of the integers.

Sample Input :
2 3
Sample Output :
1

In [11]:
a,b = input().split(" ")
a = int(a)
b = int(b)
def gcd(a, b):
    if(a == 0 and b == 0):
        return 0
       
    if(a == 0):
        return b
     
    if(b == 0):
        return a

    if(a == b):
        return a
    if (a > b):
        return gcd(a-b, b)
    return gcd(a, b-a)

print(gcd(a,b))

2 3
1

Write a code get an integer number as input and print the sum of the digits.

Input Description:
A single line containing an integer.

Output Description:
Print the sum of the digits of the integer.

Sample Input :
124
Sample Output :
7

In [14]:
n = int(input())
r = 0
while n>0:
    d = n % 10
    r = r+d
    n = n//10
print(r)

124
7

Write a program to get a string as input and reverse the string without using temporary variable.

Input Description:
A single line containing a string.

Output Description:
Print the reversed string.

Sample Input :
GUVI
Sample Output :
IVUG

In [15]:
n = input()
print(n[::-1])

guvi
ivug

Write a code to get an integer N and print the sum of  values from 1 to N.

Input Description:
A single line contains an integer N.

Output Description:
Print the sum of values from 1 to N.

Sample Input :
10
Sample Output :
55

In [16]:
n = int(input())
sum = 0
for i in range(n+1) :
  sum = sum+i
print(sum)

10
55

Write a code get an integer number as input and print the odd and even digits of the number separately.

Input Description:
A single line containing an integer.

Output Description:
Print the even and odd integers of the integer in a separate line.

Sample Input :
1234
Sample Output :
2 4
1 3

In [18]:
a = input()
even = []
odd = []
for i in a:
    if int(i) % 2 == 0:
        even.append(i)
    else:
        odd.append(i)

even.sort()
odd.sort()
print("even",*even)
print("odd",*odd)

1234
even 2 4
odd 1 3

Write a code to get an integer N and print values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from 1 to N in a separate line.

Sample Input :
5
Sample Output :
1
2
3
4
5

In [19]:
r = int(input())
for i in range (1,r+1):
    if (i>=1):
        print (i,end="\n")

10
1
2
3
4
5
6
7
8
9
10

Write a code to get an integer N and print the even values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the even values from 1 to N in a separate line.

Sample Input :
6
Sample Output :
2
4
6

In [20]:
n = int(input())
for i in range (1,n+1):
    if (i%2 == 0):
        print(i)

6
2
4
6

Write a code to get 2 integers as input and add the integers without any carry.

Input Description:
A single line containing 2 integers.

Output Description:
Print sum of the 2 integers without carry

Sample Input :
44 66
Sample Output :
0

Write a code to get a integer n as input and calculate the smallest perfect power of 2 greater than n.

Input Description:
A single line containing an integer,n.

Output Description:
Print the smallest perfect power of 2 greater than n.

Sample Input :
48
Sample Output :
64

In [21]:
n = int(input())
for i in range(100):
  if 2**i > n:
    print(2**i)
    break

48
64

Write a program to get a list of integers as input and find the LCM of the values without using GCD

Input Description:
First line contains an integer N, number of values. Second line contains N space separated values.

Output Description:
Print the LCM of the values.

Sample Input :
1 2 3 4 5
Sample Output :
60

In [23]:
n = int(input())
l = input().split()
l = [int(x) for x in l]
def lcm(a, b):
    if a > b:
        g = a
    else:
        g = b
    while True:
        if g%a==0 and g%b==0:
            lcm = g
            break
        g += 1
    return lcm
if len(l) == 2:
    ans = lcm(l[0], l[1])
else:
    ans = lcm(l[0], l[1])
    for i in range(2, len(l)):
        ans = lcm(ans, l[i])
print(ans)

1
1 2 3 4 5
60

Write a code to get the input and print it 5 times.

Input Description:
A single line contains an integer N.

Output Description:
Output contains 5 lines with each line having the value N.

Sample Input :
4
Sample Output :
4
4
4
4
4

In [24]:
n = int(input())
for i in range(5):
 print(n)

4
4
4
4
4
4